body {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgba(0,158,255,1) 100%);
    background-attachment: fixed;
}

header {
    background-color: #020024;
    width: 100%;
    padding: 10px 0 10px 0;
}

a:link {
    text-decoration: none;
  }

h1 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    
}

ul {
    text-align: center;
}

nav li {
    text-align: center;    
    display: inline-block;
    list-style: none;
    margin-right: 45px;

}

nav a {
    text-decoration: none;
    color: yellow;
     font-size: 20px;   
}

#index_main_section {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 50%;
    height:auto;
    margin: 30px auto 0;
    padding-top: 30px;
}
