/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Lato:wght@300&family=Martel:wght@300&family=Oswald&family=Pragati+Narrow:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/stockholm-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background-color: white;
}

h1 {
    font-size: 300%;
    font-family: 'Pragati Narrow', sans-serif;

}

h2 {
    font-size: 24px;
    font-family: 'Average Sans', sans-serif;
}

p {
    font-size: 20px;
}

/* Header and Nav */
header {
    background-color: #b8973d;
    font-family: 'Pragati Narrow', sans-serif;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid black;
}

#logo h1 {
    text-align: center;
}

nav ul {
    display: flex;
    gap: 45px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 85%;
}

li h2:hover {
    border-bottom: 3px dotted black !important;
}

/*Circle hero image and text */
.hero-section {
    position: relative;
    width: 100%;
    padding: 50px;
    margin-top: 20px;

}

.hero-image {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
    float: left;
    border: #b8973d solid 20px;
    border-radius: 50%;
    margin: 20px;
    z-index: 1;
}

.hero-section p {
    text-align: justify;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 794px;
    margin-left: 185px;
    padding: 20px 20px 40px 493px;
    background-color: #b8973d;
    width: 1630px;
    height: 350px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: translate3d(-7px, -560px, 0px);
}

/*Nav links*/

a:link {
    text-decoration: none;
}

h1 #logo {
    height: 55px;
}

#logo {
    color: black;
    text-align: center;
    text-transform: uppercase;

    height: 25px
}

/* Google map */
.map-message-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.mapouter {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 1000px;
    margin: 50px 0px 50px 50px;
    float: left;
    border: #b8973d solid 20px;
    border-radius: 50%;
    z-index: 1;
}

.map-message-container .inputbox {
    text-align: justify;
    margin-top: 125px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #b8973d;
    width: 500px;
}

.inputbox h2,
p {
    margin-left: 20px;
}

textarea {
    resize: none;
}

label,
input {
    display: block;
    margin: 10px 0;
    margin-left: 20px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

#textarea-submit {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

input[type=submit] {
    width: 50px;
    height: 25px;
    margin-top: 50px;
}

.inputbox:nth-child(2) {
    transform: translate(-200px, -45px);
    padding: 20px 0px 15px 230px;
}

/*Museum flex box*/
#museum-container {
    margin-top: 85px;
    display: flex;
    flex-direction: column;

}

.museum-div {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 85px 0px 150px 35px;
    /*Space between museum divs */
}

.museum-image {
    position: absolute;
    overflow: hidden;
    width: 400px;
    height: 400px;
    border: #b8973d solid 20px;
    border-radius: 50%;
}

.museum-image img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.museum-text {
    background-color: #b8973d;
    width: 1100px;
    padding: 20px 50px 15px 335px;
    height: 350px;
    margin-left: 135px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-x: hidden;
}

.museum-div:nth-child(2n+0) {

    flex-direction: row-reverse;
    margin-right: 35px;
}

.museum-div:nth-child(2n+0) .museum-text {
    margin-right: 150px;
    padding: 20px 335px 15px 50px;
}

/* Contact */
.find-section {
    right: 100px;
    padding: 50px;

}

.find-us-map {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: #b8973d solid 10px;
    border-radius: 50%;
    margin-left: 20px;
    float: right;
    z-index: 1;
}

.find-us-map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-div {
    position: relative;
    margin-top: 75px;
    float: right;
    left: 55px;
    z-index: -1;
}

.find-section p {
    text-align: left;
    background-color: #b8973d;
    width: 300px;
    padding: 10px 20px 10px 20px;
}

.gmap_canvas iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Footer */
footer {
    background-color: #b8973d;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    bottom: 0;
    width: 100%;
    height: 65px;
    border-top: 2px solid black;
}

footer i {
    color: black;
    font-size: 150%;
    display: flex;
    gap: 20px;
    /* add a gap of 10px between the icons */
    align-items: center;
}

footer ul {
    display: flex;
    gap: 45px;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 20px;
}

/* Media Querries 320px wide */
@media screen and (max-width: 320px) {


    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 16px;
    }

    header {
        height: 80px;
        width: 100%;
    }

    nav {
        margin-top: 5px;
    }

    /*Circle hero image and text */
    .hero-section {
        position: relative;
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        margin-left: 20px;

    }

    .hero-image {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border: #b8973d solid 7px;
        border-radius: 50%;
        margin: 2px;
    }

    .hero-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #hero-text-box {
        width: 207px;
        margin-left: 10px;
    }

    .hero-section p {
        text-align: center;
        padding: 20px 20px 20px 25px;
        background-color: #b8973d;
        width: 75%;
        margin: auto;
        margin-right: 35px;
        font-size: 16px;
        height: 441px;
        overflow: scroll;
        transform: translate(3px, -11px);
    }

    .map-message-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .find-us-map {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border: #b8973d solid 10px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .find-section {
        right: 0px;
        position: absolute;
        padding: 0px;
        margin-right: 60px;
    }

    #contact-div {
        margin-top: 0px;
        width: 100%;
        bottom: 20px;
        margin-bottom: 40px;
        left: 90px;
        background-color: #b8973d;
    }

    .find-section p {
        width: 300px;
        padding: 10px 40px 10px 20px;
    }

    .mapouter {
        width: 200px;
        height: 200px;
        margin-left: 25px;
        margin-top: 50px;
        border: #b8973d solid 5px;
    }

    .find-us-map iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #contact-div {
        margin-top: 0px;
        width: 100%;
        bottom: 20px;
        margin-bottom: 40px;
        left: 90px;
    }

    .inputbox:nth-child(2) {
        transform: translate(0px, -144px);
        padding: 20px 15px 15px 15px;
        width: auto;
        margin-bottom: -58px;
    }

    #textarea-submit {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    input[type=submit] {
        width: 50px;
        height: 25px;
        margin-top: 50px;
        margin-left: 100px;
    }

    footer {
        height: 65px;
    }

    footer i {
        color: black;
        font-size: 90%;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    label,
    input {
        display: block;

    }

    .museum-image {
        width: 250px;
        height: 250px;
        border: #b8973d solid 20px;
        border-radius: 50%;
        margin-right: 73px;
    }

    .museum-div {
        position: relative;
        display: block;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin: 0px 0px 0px 0px;
    }

    .museum-text {
        text-align: justify;
        background-color: #b8973d;
        width: 50%;
        height: auto;
        padding: 20px;
        margin: 207px 0px 9px 61px;
    }

    p {
        font-size: 16px;
    }

    .museum-div:nth-child(2n+0) {

        flex-direction: row-reverse;
        margin-right: 135px;
    }

    .museum-div:nth-child(2n+0) .museum-text {
        padding: 20px;
        width: 150px;
    }

    #museum-container {
        margin-bottom: 100px;
    }

    .museum-div:nth-child(2n+0) .museum-text {
        margin-right: 161px;
        margin-top: -143px;
        padding: 10px 16px 0px 30px;
        width: 100%;
    }

    .museum-image {
        width: 230px;
        height: 230px;
        border: #b8973d solid 20px;
        border-radius: 50%;
        margin-left: 60px;
        margin-top: 16px;
    }
}

/* Media Querries 970px wide */
@media screen and (max-width: 970px) {

    .museum-div:nth-child(2n+0) {

        flex-direction: row;
        margin-right: 135px;
    }

    .museum-div:nth-child(2n+0) .museum-text {
        margin-left: 316px;
        margin-right: -134px;
        padding: 20px 2px 15px 108px;
    }
}

/* Media Querries 800px wide */
@media screen and (max-width: 800px) {

    .museum-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 85px 0px 212px 35px;
    }

    .museum-image {
        width: 400px;
        height: 400px;
        border: #b8973d solid 20px;
        border-radius: 50%;
    }

    .museum-text {
        background-color: #b8973d;
        width: 652px;
        height: 350px;
        margin-bottom: 164px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-x: hidden;
        transform: translate3d(-81px, 424px, 1px);
    }

    .museum-text {
        background-color: #b8973d;
        width: 100%;
        padding: 20px 50px 15px 27px;
        height: 350px;
        margin-left: 135px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-x: hidden;
    }

    .museum-div:nth-child(2n+0) .museum-text {
        margin-right: 0px;
        margin-top: 12px;
        padding: 20px 226px 0px 17px;
    }

    .museum-div:nth-child(2n+0) {
        flex-direction: column;
        margin-right: 0px;
    }

    .museum-div:nth-child(2n+0) {
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 227px;
    }

    #last-museum {
        margin-bottom: 360px;
    }

}

/* Media Querries 480px wide */
@media screen and (max-width: 480px) {

    .museum-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 85px 0px 212px 0px;
    }

    .museum-text {
        background-color: #b8973d;
        width: 100%;
        padding: 20px 50px 15px 27px;
        height: 350px;
        margin-left: 176px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-x: hidden;
    }

}

/* Media Querries 460px wide */
@media screen and (max-width: 460px) {

    .museum-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 85px 0px 212px 0px;
    }

    .museum-text {
        background-color: #b8973d;
        width: 100%;
        padding: 20px 50px 15px 27px;
        height: 350px;
        margin-left: 176px;
        margin-top: -147px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-x: hidden;
    }

    .museum-image {
        width: 250px;
        height: 250px;
        border: #b8973d solid 20px;
        border-radius: 50%;
    }

    .museum-div:nth-child(2n+0) .museum-text {
        margin-right: 0px;
        margin-top: -143px;
        padding: 13px 181px 0px 17px;
    }

}
/*Header media query 1366px*/
@media screen and (max-width: 480px) {

    h1 {
        font-size: 200%;
    }

}

@media screen and (max-width: 320px) {

    h1 {
        font-size: 28px;
    }

}

@media screen and (max-width: 1500px) {
    .mapouter {
        width: 850px;
        height: 850px;
    }

}

/*Map media query 1366px*/
@media screen and (max-width: 1366px) {
    .mapouter {
        width: 480px;
        height: 480px;
    }
}
/*Map media query 786px*/
@media screen and (max-width: 768px) {
    
    .map-message-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

    }
    .mapouter {
        width: 390px;
        height: 390px;
    }
    #textarea-submit {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    textarea {
        height: 69px;
        width: 238px;
    }

    input[type=submit] {
        width: 50px;
        height: 25px;
        margin-top: 50px;
        margin-left: 94px;
    }
    .inputbox:nth-child(2) {
        transform: translate(0px, -189px);
        padding: 35px 10px 15px 230px;
    }
}
/*Map media query 375px*/
@media screen and (max-width: 375px) {

    .mapouter {
        width: 320px;
        height: 320px;
        margin: 50px 0px 50px 0px;
    }
}
/*Map media query 320px*/
@media screen and (max-width: 320px) {

    .mapouter {
        width: 150px;
        height: 150px;
        margin: 15px 47px 44px 0px;
    }
    .inputbox:nth-child(2) {
        transform: translate(-22px, -189px);
        padding: 144px 10px 15px 0px;
        width: 218px;
        height: 332px;
        margin-top: 150px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-1px, -143px);
    }
    textarea {
        height: 125px;
        width: 173px;
    }
    input[type=submit] {
        margin-top: 50px;
        margin-left: 73px;
    }
}


/*Index media query 375px*/
@media screen and (max-width: 375px) {

    .hero-section {
        display: contents;
    }
    .hero-section p {
        width: 635px;
        transform: translate(-190px, -23px);
        padding: 15px;
    }
    .find-section {
        display: inline-flex;
        flex-direction: row-reverse;
    }

}
/*Index media query 786px*/
@media screen and (max-width: 786px) {

    .hero-section {
        display: contents;
    }
    .hero-section p {
        width: 635px;
        transform: translate(-127px, -24px);
        padding: 15px;
        height: 460px;
        overflow: scroll;
    }
    .find-section {
        display: inline-flex;
        flex-direction: row-reverse;
    }
    .hero-image {
        margin-left: 60px;
    }

}

/*Index media query 1366px*/
@media screen and (max-width: 1366px) {

    .hero-section {
        display: contents;
    }
    .hero-section p {
        width: 635px;
        transform: translate(-127px, -24px);
        padding: 15px;
        height: 460px;
        overflow: scroll;
    }
    .find-section {
        display: inline-flex;
        flex-direction: row-reverse;
        transform: translate(630px, -64px);
    }
    .hero-image {
        margin-left: 60px;
    }

}

/*Index media query 1366px*/
@media screen and (max-width: 1366px) {

    .hero-section p {
        margin-top: 153px;
        padding: 20px 20px 40px 118px;
        width: 950px;
        height: 390px;
        transform: translate(-128px, 10px);
    }

}